.heroSection {
    padding-top: 20px;

    .bannerImg {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
    .cardBoxCol {
        margin: 0 auto;
        margin-top: -78px;

        .cardBox {
            background: #fff;
            overflow: hidden;
            border-radius: 20px;
            position: relative;
            box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    
            .cardBoxTitle {
                background-image: linear-gradient(var(--Main3), var(--Main1));
                margin: 0px;
                padding: 15px 20px;
                color: #fff;
                text-align: center;
                font-size: 36px;
                font-weight: 700;
            }
            .cardBoxBody {
                padding: 30px 30px;
                text-align: center;
                font-size: 18px;
    
                p {
                    margin: 0;
                }
            }
        }
    }
    
}


.blogSection {
    padding: 50px 0px;
}