

.main_header {
    z-index: 9;
    transition: 0.5s;
    width: 100%;
    position: relative;
    background: var(--Main1);
	padding: 15px 0px;

	.ak_menu {
        padding: 0;
		
		:global(.navbar-brand) {
			padding:0px;
			position: relative;
			 margin: 0px;

			.logo {
                width: auto;
                height: 40px;
                position: relative;
                z-index: 1;
			}
		}
		.mobile_logo {
			display:none;   
		}
		.login_btn {
		    color:#000; 
			
			&:hover {
			    color:var(--Main);  
			}
		}
		:global(.navbar-collapse) {

			.menu_box {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		
			:global(.navbar-nav) {
                margin-left: 50px;
				
				li {
                    margin: 0px;
				
					.joinBtn {
						border: none;
						padding: 7px 10px;
						font-weight: 600;
						display: flex;
						align-items: center;
						background: #fff;
						color: var(--Main1);
						border-radius: 50px;
						min-width: 90px;
						justify-content: center;
						height: 34px;
					}
					
					.userDropdown {

						:global(.btn) {
							border: none;
							padding: 9px 10px;
							font-weight: 600;
							display: flex;
							align-items: center;
							background: #fff;
							color: var(--Main1);
							border-radius: 50px;
							font-size: 20px;
							min-width: 80px;
							justify-content: center;
							height: 40px;
						}
						:global(.dropdown-menu) {
							min-width: 190px;
							background: #fff;
							left: auto;
							right: 0;
							box-shadow:0px 0px 6px rgb(168 168 168 / 57%);
							padding: 10px 0px;
							min-height: 1px;
							max-height: 350px;
							overflow: hidden;
							overflow-y: scroll;

							ul {
								list-style: none;
								margin: 0;
								padding: 0;

								li {

									a {
										font-size: 15px;
										margin: 0px !important;
										padding: 5px 15px !important;
										color: #222;
										display: block;
									}
								}
							}

							&::-webkit-scrollbar {
								width: 5px;
							}
							
							&::-webkit-scrollbar-track {
								-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
								border-radius: 50px;
							}
							
							&::-webkit-scrollbar-thumb {
							  background-color:#e9f063;
							  outline: 1px solid #e9f063;
							  border-radius: 50px;
							}
						}
					}
					.groupMenu {
						display: flex;
						background: #fff;
						height: 40px;
						border-radius: 50px;
						overflow: hidden;
						margin: 0px 15px;

						a {
							display: flex;
							background: #fff;
							padding: 9px 10px;
							color: var(--Main1);
							min-width: 110px;
							text-align: center;
							justify-content: center;
							transition: 0.5s;
							font-weight: 600;
							font-size: 16px;

							&:hover {
								background-image: linear-gradient(var(--Main2),var(--Main3));
								color: #fff;
							}
						}
					}
					.moreDropdown {

						:global(.btn) {
							border: none;
							padding: 9px 10px;
							font-weight: 600;
							display: flex;
							align-items: center;
							background: #fff;
							color: var(--Main1);
							border-radius: 50px;
							font-size: 20px;
							min-width: 50px;
							justify-content: center;
							height: 40px;

							&::after {
								display: none;
							}

							svg {
								font-size: 20px;
							}
						}
						:global(.dropdown-menu) {
							min-width: 190px;
							background: #fff;
							left: auto;
							right: 0;
							box-shadow:0px 0px 6px rgb(168 168 168 / 57%);
							padding: 10px 0px;
							min-height: 1px;
							max-height: 350px;
							overflow: hidden;
							overflow-y: scroll;

							ul {
								list-style: none;
								margin: 0;
								padding: 0;

								li {

									a {
										font-size: 15px;
										margin: 0px !important;
										padding: 5px 15px !important;
										color: #222;
										display: block;
									}
								}
							}

							&::-webkit-scrollbar {
								width: 5px;
							}
							
							&::-webkit-scrollbar-track {
								-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
								border-radius: 50px;
							}
							
							&::-webkit-scrollbar-thumb {
							  background-color:#e9f063;
							  outline: 1px solid #e9f063;
							  border-radius: 50px;
							}
						}
					}

					&.actionHeader {
						display: flex;
						align-items: center;
						gap: 40px;
						margin-right: 40px;

						a {
							color: var(--Main2);
						}
						.searchTop {
							display: flex;
							align-items: center;
							gap: 6px;
						}
					}
				}
			}
		}
    }
	
}

.DropdownOption {
	padding-top: 10px;

	.dropBtn {
		background: #fff;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		min-width: 150px;
		font-weight: 600;
		text-transform: lowercase;
		border-radius: 50px;
		padding: 10px 0px;
		font-size: 16px;
		color: #241945;
		border: none !important;

		&:hover &.active, &:focus{
			background-image: linear-gradient(var(--Main2), var(--Main3));
			color: #fff;
		}
	}
	:global(.owl-carousel) {

		:global(.owl-item) {

			:global(.item) {
				padding: 8px;
			}
		}
		
        :global(.owl-nav) {
            right: 0;
            margin: 0;
    
            &:global(.disabled) {
                 display: none;
            }
            button {
                width: 46px;
                height: 46px;
                border-radius: 0px !important;
                font-size: 22px !important;
                font-weight: bold !important;
                display: flex !important;
                justify-content: center;
                color: var(--Main1) !important;
                align-items: center;
                transition: 0.5s !important;
                position: absolute;
                top: 50%;
				transform: translate(-0%, -50%);
				margin: 0px;
                
                &:global(.owl-prev) {
					left: 0px;
					background-image: linear-gradient(to right, #c4caf0 , transparent) !important;
					border: none !important;
					
					&:hover {
						left: 0px;
						background-image: linear-gradient(to right, #c4caf0 , transparent) !important;
						border: none !important;
						background-color: transparent !important;
					}
                }
                &:global(.owl-next) {
                    right:0px;
					background-image: linear-gradient(to right, transparent , #c4caf0) !important;
					border: none !important;

					&:hover {
						right:0px;
						background-image: linear-gradient(to right, transparent , #c4caf0) !important;
						border: none !important;
						background-color: transparent !important;
					}
                }
            }
        }
	}
	.groupBtns {
		display: flex;
		justify-content: center;
		border-radius: 50px;
		margin-top: 10px;
		
		.dropBtn {
			background: #fff;
			box-shadow:none;
			min-width: 150px;
			font-weight: 600;
			text-transform: lowercase;
			border-radius: 0px;
			padding: 10px 0px;
			font-size: 16px;
			color: #241945;
			border:1px solid var(--Main3) !important;

			&:first-child {
				border-radius: 50px 0px 0px 50px !important;
			}

			&:last-child {
				border-radius: 0px 50px 50px 0px !important;
			}
			&:hover &.active, &:focus{
				background-image: linear-gradient(var(--Main2), var(--Main3));
				color: #fff;
			}
		}
	}
}



/*=======================================================
//////////////RESPONSIVE MEDIA QUERY START///////////////
=======================================================*/

@media (max-width:991px) {
	.main_header {

		.ak_menu {
			:global(.navbar-brand) {
				padding:0px !important;
				
			}
			 
		:global(.navbar-toggler) {
			cursor: pointer;
			width: 40px;
			height: 40px;
			display: flex !important;
			align-items: center;
			justify-content: center;
			background: transparent;
			color: #fff;
			padding: 0px;
			border: none;
			font-size: 46px;
			border-radius: 8px;

			&:focus {
				box-shadow: none !important;
			}
		}
		:global(.navbar-collapse) {

			&:global(.collapse) {
				position: fixed;
				top: 0px;
				width: 100%;
				height: 100vh;
				left: -100%;
				transition:0.5s; 
			    display: block !important;
			}
			
			.menu_box {
				height: 100%;
				background: #fff;
				width: 250px;
				overflow: scroll;
				position: absolute;
				top: 0;
				z-index: 9999;
				border-radius: 0px !important;
				display: block;
				padding: 20px 0px;

					
				:global(.navbar-nav) {
					margin-left: 0px;
					display: block;
					
					li {
						margin: 0px;
					
						.joinBtn {
							border-radius:0px;
							height: auto;
						}
						
						.userDropdown {
	
							:global(.btn) {
								min-width: 100%;
								border-radius: 0px;
							}
						}
						.groupMenu {
							display: block;
							height: auto;
							margin: 0px;
							border-radius: 0px;

						}
						.moreDropdown {
	
							:global(.btn) {
								min-width: 100%;
								height: auto;
								border-radius: 0px;
							}
						}
	
						&.actionHeader {
							display: none;
	
							a {
								color: var(--Main2);
							}
							.searchTop {
								display: flex;
								align-items: center;
								gap: 6px;
							}
						}
					}
				}
			}
			.hide_box {
				width: 100%;
				height: 100vh;
				float: right;
				background: rgba(0, 0, 0, 0.35);
				left: -100%;
				position: absolute;
				transition: 0.5s;
			}
			
			&.slide_effect {
				transition:0.5s; 
				z-index: 9;
				opacity: 1;
				left: 0;

				
				.hide_box {
					left: 0;
				}
			}
		}
	}
	}

	.DropdownOption {
	
		.groupBtns {
			
			.dropBtn {
				padding: 10px 15px;
				font-size: 15px;
				min-width: auto;
			}
		}
	}
}



@media only screen and (min-width:992px) and (max-width:1199px){

	
.main_header {

	.ak_menu {
		
		:global(.navbar-collapse) {

		
			:global(.navbar-nav) {
                margin-left: 20px;
				
				li {
					

					&.actionHeader {
						margin-right: 20px;

					}
				}
			}
		}
    }
	
}


}

@media only screen and (max-width: 5520px) and (min-width: 768px){

    .main_header {
		
		.ak_menu {
			
			:global(.navbar-collapse) {
				display: block !important;
				height: auto !important;
				padding-bottom: 0;
				overflow: visible !important;
				visibility: visible !important;
			
				:global(.navbar-nav) {
					
					:global(.dropdown) {
					
						:global(.dropdown-menu) {
							transition:0.3s;
							visibility: hidden;
							display: block;
							opacity:0;
							z-index:0;
							transform: translateY(30px);
						}   
						&:hover {
						
							:global(.dropdown-menu) {
								visibility: inherit;
								opacity:1;
								transform: translateY(0px);
								z-index:999;
							}
						}
					}
				}
			}
		}
	}

}
