.blogCard {
    background: #fff;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    margin-bottom: 25px;

    .blogCardImg {

        .bannerImg {
            width:100%;
        }
    }
    .blogCardBody {
        text-align: center;
        padding: 40px 30px 30px 30px;
        position: relative;

        .tag {
            background: var(--Main2);
            color: #fff;
            border-radius: 50px;
            font-weight: 700;
            border: 2px solid #fff;
            font-size: 20px;
            padding: 6px 10px;
            min-width: 120px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        h3 {
            font-size: 24px;
            font-weight: 600;
            margin: 0px;
            line-height: 35px;
        }
    }
}


/*=======================================================
//////////////RESPONSIVE MEDIA QUERY START///////////////
=======================================================*/

@media (max-width:768px) {

  

}


@media only screen and (min-width:768px) and (max-width:991px){

    
}