.blogCard {
    margin:30px 0px;

    .blogCardImg {
        position: relative;

        .postImg {
            width: 100%;
            height: 230px;
            object-fit: cover;
            border:3px solid #9b4804;
            border-radius: 15px;
        }
        .btnTop {
            position: absolute;
            left: 50%;
            top: 0;
            background: #8e3f20;
            color: #fff;
            transform: translate(-50%, -50%);
            padding: 5px 20px;
            font-weight: 600;
            font-size: 14px;
            border: 3px solid #9b4804;
            border-radius: 12px;
        }
    }
    .blogCardBody {
        padding-top: 25px;

        .link {
            color: #f0b239;
            text-decoration: none;
        }
        h2 {
            font-size: 26px;
            font-weight: 700;
            margin-bottom:25px;
            letter-spacing: 0.1px;
        }
        .author {
            display: flex;
            background: #45280e;
            padding:8px 8px;
            border-radius: 50px;
            align-items: center;
            color: #fcf6e4;
            width: 85%;

            svg {
                font-size: 30px;
                color: #7a4211;
                margin-right: 10px;
            }
            h6 {
                margin: 0px;
                width: 100%;
                text-align: center;
                font-size: 16px;

                span {
                    margin: 0px 15px;
                }
            }
        }
    }
}


/*=======================================================
//////////////RESPONSIVE MEDIA QUERY START///////////////
=======================================================*/

@media (max-width:991px) {


}