.journalSection {
  padding: 40px 0px;

  .titleBox {
    padding-bottom: 20px;
    border-bottom: 1px solid #989898;
    margin-bottom: 15px;

    h3 {
      font-size: 30px;
      font-weight: 700;
      text-align: center;
      color: #241945;
    }
    p {
      text-align: center;
      font-weight: 500;
      color: #989898;
      margin-bottom: 0px;
    }
  }
  .meList {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;

    li {
      display: flex;
      align-items: center;
      color: #989898;
      font-size: 14px;
      margin: 0px 10px;

      span {
        width: 25px;
        height: 25px;
        display: block;
        background-color: #f1e6da;
        border-radius: 50px;
        margin-right: 5px;
        position: relative;
        border: 2px solid transparent;

        &::after {
          content: "";
          position: absolute;
          background: #564a8d;
          left: 8px;
          top: 8px;
          width: 6px;
          height: 6px;
          border-radius: 50px;
        }
      }
      &.active {
        span {
          border: 2px solid #b76ef9;
          background: #b76ef94f;
        }
      }
    }
  }
  .prograssBar {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 15px;
    justify-content: center;

    label {
      margin: 0px !important;
    }
    :global(.progress) {
      height: 10px;
      width: 270px;
      margin: 0px 10px;
      background: #f1e6da;

      :global(.progress-bar) {
        background-color: #b76ef9 !important;
      }
    }
  }
  .uploadBox {
    position: relative;
    margin-top: 15px;

    .img2 {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
    input[type="file"] {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      opacity: 0;
    }
  }
  .formBox {
    background: #fff;
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 10px;

    label {
      margin-bottom: 5px;
    }

    :global(.form-control) {
      border: none;
      padding: 0px;

      &:focus {
        box-shadow: none;
        border: none;
      }
    }
  }
  .formBox2 {
    background: #fff;
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 10px;

    label {
      margin-bottom: 5px;
      font-size: 14px;
    }

    :global(.form-control) {
      border: 1px solid #cecece;
      padding: 8px 15px;
      font-size: 14px;
      margin-bottom: 15px;

      &:focus {
        box-shadow: none;
      }
    }
  }
  .uploadPhotoCard {
    text-align: center;
    margin: 20px 0px;

    .uploadPhotoBox {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      margin: 0 auto;
      position: relative;
      margin-bottom: 10px;

      input[type="file"] {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }
      .uploadImg {
        width: 100px;
        height: 100px;
      }
    }
  }
  .requestBtn {
    background: #4f81e5 !important;
    border-color: #4f81e5 !important;
    color: #fff !important;
    width: 100%;
    border-radius: 50px;
    padding: 12px 10px;
    font-weight: 600;
    margin-top: 10px;
  }

  .sliderCard {
    background: #fff;
    padding: 30px 20px 20px 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;

    p {
      font-size: 20px;
      color: #989898;
      font-weight: normal;
    }
    h6 {
      color: #564a8d;
      font-weight: 600;
      margin: 0px;
    }
  }
  .copyright {
    text-align: center;
    color: #666666;
    font-weight: normal;
    font-size: 14px;
    margin-top: 20px;
  }
}

/*=======================================================
//////////////RESPONSIVE MEDIA QUERY START///////////////
=======================================================*/

@media (max-width: 991px) {
}
