.profileSection {
    background: #086d65;
    position: relative;
    z-index: 2;
    padding-bottom: 100px;

    .contentBody {
        color: #fff;
        text-align: center;

        h2 {
            font-size: 40px;
            margin-bottom: 20px;
            color: #e9f063;
        }
        h3 {
            font-size: 30px;
            color: #e9f063;
            margin-bottom: 20px;
        }
        p {
            margin: 0px;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            padding: 0px 30px;
        }
    }
}
.backgroundShape {
    position: relative;

    .shapeBg1 {
        width: 100%;
        position: absolute;
        height: auto;
        top: -10px;
        z-index: 1;
    }
    .shapeBg2 {
        width: 100%;
        height: auto;
        margin-top: -50px;
        transform: rotate(1deg);
    }
    .sdf {
        position: absolute;
        height: auto;
        width: 180px;
        left: 50%;
        z-index: 3;
        top: 0px;
        transform: rotate(354deg) translate(-50%, -0%);
    }
}


.blogSection {
    background: #11a195;
    margin-top: -145px;
    padding: 200px 0px 150px 0px;
}

/*=======================================================
//////////////RESPONSIVE MEDIA QUERY START///////////////
=======================================================*/

@media (max-width:991px) {

    .profileSection {
        background: #086d65;
        position: relative;
        z-index: 2;
        padding-bottom: 70px;
    
        .contentBody {
            padding: 0px;
            margin: 0px;
            margin-top: 40px;
    
            h2 {
                font-size: 30px;
                margin-bottom: 10px;
            }
            h3 {
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
    }

    .backgroundShape {
        .shapeBg1 {
            top: -1px;
        }
        .shapeBg2 {
            margin-top: -10px;
        }
        .sdf {
            width: 130px;
            top: -30px;
        }
    }

}